/* Variables */
:root {
  --light-text: white;
  --lighter-text: #ddd;
}

/* Document */
body {
  background-color: black;
  font-family: Poppins;
  margin: 0;
}

span {
  color: white;
  line-height: 1;
}

/* General */
.colored-temp {
  font-family: Nunito;
}

/* Main Container */
.smart-mirror-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

/* Error Messages */
.message {
  align-self: center;
  font-size: 100px;
}

.message.error {
  color: #db4437;
}

/* NumDayForecast (ndf) */
.ndf-container {
  display: flex;
  justify-content: space-evenly;
}

/* OneDayForecast (odf) */
.odf-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding: 12px 15px;
}

.odf-day-and-date {
  display: flex;
  justify-content: center;
}

.odf-day {
  color: var(--light-text);
  font-size: 40px;
}

.odf-day.Sat,
.odf-day.Sun {
  box-shadow: 0 -4px black;
}

.odf-date {
  font-size: 40px;
}

.odf-date.Sat,
.odf-date.Sun {
  box-shadow: 0 -4px var(--light-text);
}

.odf-min-icon-max {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.odf-min-icon-max > .weather-icon {
  margin: 0px 5px;
}

/* DateAndTime and Weather */
.current-info-container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* DateAndTime (dat) */
.dat-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dat-date-container {
  font-size: 80px;
}

.dat-day,
.dat-month {
  color: var(--light-text);
}

.dat-time-container {
  display: flex;
  font-size: 180px;
}

.dat-minutes {
  color: var(--light-text);
}

.dat-seconds {
  color: var(--lighter-text);
  width: 1.2em;
}

/* WeatherAndSun (was) */
.was-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

/* SunriseAndSunset (sas) */
.sas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 35px;
}

/* TimeAndIcon (tai) */
.tai-container {
  align-items: center;
  display: flex;
}

/* NumHourForecast (nhf) */
.nhf-container {
  display: flex;
  justify-content: space-evenly;
}

/* OneHourForecast (ohf) */
.ohf-container {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 25px;
}

.ohf-time {
  font-size: 28px;
}
