/* Variables */
:root {
  --light-text: #777;
}

/* Document */
body {
  margin: 0;
  font-family: Poppins;
}

span {
  line-height: 1;
}

/* General */
.colored-temp {
  font-family: Nunito;
}

/* Main Container */
.smart-mirror-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Error Messages */
.message {
  font-size: 100px;
  align-self: center;
}

.message.error {
  color: #db4437;
}

/* NumDayForecast (ndf) */
.ndf-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* OneDayForecast (odf) */
.odf-container {
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.19);
  height: 100%;
  justify-content: space-evenly;
}

.odf-day-and-date {
  display: flex;
  width: 100%;
  /* justify-content: space-evenly; */
  justify-content: center;
}

.odf-day {
  font-size: 40px;
  color: var(--light-text);
}

.odf-day.Sat,
.odf-day.Sun {
  /* text-decoration: underline; */
}

.odf-date {
  font-size: 40px;
}

.odf-min-icon-max {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.odf-min-icon-max > .weather-icon {
  margin: 0px 5px;
}

/* DateAndTime and Weather */
.current-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* DateAndTime (dat) */
.dat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.dat-date-container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 80px;
  align-items: flex-start;
}

.dat-day {
  color: var(--light-text);
}

.dat-time-container {
  display: flex; /* why is this needed? */
  font-size: 190px;
}

.dat-minutes {
  color: var(--light-text);
}

/* WeatherAndSun (was) */
.was-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* new */
/* SunriseAndSunset (sas) */
.sas-container {
  display: flex;
  flex-direction: column;
}
/* new */

.sun-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sun-icon {
  height: 40px;
}

.sun-icon.sunset {
  transform: rotate(180deg);
}

.sun-time {
  font-size: 35px;
}

.sun-am-pm {
  color: var(--light-text);
}

/* SixHourForecast (shf) */
.shf-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

/* ThirtyMinuteForecast (tmf) */
.tmf-container {
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.19);
}

.tmf-time {
  font-size: 20px;
}
